fastapi>=0.110.0
uvicorn[standard]>=0.27.0
pydantic>=2.9.0
pydantic-settings>=2.2.1
python-dotenv
numpy
requests
python-telegram-bot
httpx
apscheduler==3.10.4
slowapi==0.1.9

# --- DATA & AI ---
pymongo
scikit-learn
tensorflow>=2.15.0
global-land-mask
# TensorFlow has been removed to run on Render Free
# --- TESTING ---
pytest
pytest-asyncio
anyio[trio]

# --- CACHING ---
fastapi-cache2
jinja2
twilio